<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wotrd.ssoclient2.dao.PretemplateMapper">
    <resultMap id="Pretemplate" type="org.clinic.pojo.Pretemplate">
        <id property="id" column="id"/>
        <result property="temNo" column="temNo"/>
        <result property="temName" column="temName"/>
        <result property="temType" column="temType"/>
        <result property="temDiag" column="temDiag"/>
        <result property="temPermission" column="temPermission"/>
        <result property="createTime" column="createTime"/>
        <result property="createPerson" column="createPerson"/>
        <association property="tempermission" javaType="org.clinic.pojo.Tempermission">
            <id property="id" column="t_id"/>
            <result property="temPermission" column="t_tempermission"/>
        </association>
        <association property="temTypeObj" javaType="org.clinic.pojo.Temtype">
            <id property="id" column="temtypeid"/>
            <result property="temName" column="temName"/>
        </association>
        <association property="employee" javaType="org.clinic.pojo.Employee">
            <id property="eid" column="e_id"/>
            <result property="emName" column="e_emname"/>
        </association>
    </resultMap>
    <select id="queryAllPretemplate" resultMap="Pretemplate">
        select a.id,a.temNo,a.temName,t2.id as temtypeid,t2.temName,a.temDiag
         ,t.id as t_id,t.temPermission as t_tempermission,
         a.createTime,e.eid as e_id,e.emName as e_emname
          from pretemplate a
        inner join tempermission t on a.temPermission = t.id
        inner join temtype t2 on a.temType = t2.id
        inner join employee e on e.eid = a.createPerson
        <where>
            <if test="temType!=0 and temType!=''">
                and a.temType = #{temType}
            </if>
            <if test="temPermission!=0 and temPermission!=''">
                and a.temPermission = #{temPermission}
            </if>
            <if test="temNameORtemId!=0 and temNameORtemId!=''">
                and a.temNo like CONCAT('%',#{temNameORtemId},'%')
                or a.temName like CONCAT('%',#{temNameORtemId},'%')
            </if>
        </where>
        limit #{from},#{pageSize}
    </select>
    <select id="pretemplateCont" resultType="int">
        select count(a.id) from pretemplate a
        inner join tempermission t on a.temPermission = t.id
        inner join temtype t2 on a.temType = t2.id
        inner join employee e on e.eid = a.createPerson
        <where>
            <if test="temType!=0 and temType!=''">
                and a.temType = #{temType}
            </if>
            <if test="temPermission!=0 and temPermission!=''">
                and a.temPermission = #{temPermission}
            </if>
            <if test="temNameORtemId!=0 and temNameORtemId!=''">
                and a.temNo like CONCAT('%',#{temNameORtemId},'%')
                or a.temName like CONCAT('%',#{temNameORtemId},'%')
            </if>
        </where>
    </select>
</mapper>